* {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main {
  margin-top: 80px;
  margin-right: 32px;
  margin-left: 32px;
  min-height: 100vh;
  max-width: 100%;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

hr {
  width: 85%; /*84%*/
}

ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}


/* Page 1 Header */
.row-header {
  width: 85%;
  margin: auto;
}

.row-header ul {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row-header li {
  font-size: 24px;
  font-weight: 300;
  line-height: 150%;
  display: inline-block;
}


@media screen and (max-width: 991px) {
  .row-header li {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .row-header li {
    font-size: 18px;
  }
}

@media screen and (max-width: 479px) {
  .row-header li {
    font-size: 16px;
  }
}

.row-header span {
  position: relative;
  display: block;
  cursor: pointer;
}

/* Hover animation stuff */
span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #000;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


/* Page 1 Body  - About */
.row-body-1 {
  display: flex;
  padding-top: 208px;
  padding-bottom: 290px;
  width: 85%;
  margin: auto;
}

.profile-image img {
  width: 65%;
}

.profile-normal {
  position: relative;
  top: 0;
  left: 0;
}

.profile-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .15s .10s ease-out;
  will-change: opacity;
}

.profile-heart.is-visible {
  opacity: 1;
}

.profile-image {
  position: relative;
  width: 15%;
  min-width: 100px;
  max-width: 308px;
}

.about {
  width: 63%;
}

.about h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  margin-top: 3px;
  margin-bottom: 12px;
}

.about h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

@media screen and (max-width: 991px) {
  .about h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .about h2 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .about h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .about h2 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 479px) {
  .about h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .about h2 {
    font-size: 12px;
    line-height: 18px;
  }
}

/* Page 2 Body */
.row-body-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 230px;
  padding-bottom: 150px;
  width: 85%;
  margin: auto;
  background-color: #F1EFEF;
}

.experience, .experience-list {
  width: 46%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 991px) {
  .experience h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .experience h1 {
    font-size: 24px;
  }
  .experience {
    margin-bottom: 5px;
  }
  .experience, .experience-list {
    width: 100%;
  }
  .experience-list li {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .experience h1 {
    font-size: 20px;
  }
  .experience-list li {
    font-size: 12px;
  }
}

.experience-list ul {
  display: inline-block;
  text-align: left;
}

.row-body-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 230px;
  width: 85%;
  margin: auto;
  margin-bottom: 80px;
  background-color: #F1EFEF;
}

/* Footer */
.row-footer {
  display: flex;
  padding-bottom: 80px;
  width: 85%;
  margin: auto;
}

.location {
  width: 50%;
}

.location h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .location h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .location h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .location h3 {
    font-size: 10px;
  }
}

.social-media {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.social-media a:hover {
  color: white;
}

.social-media img {
  padding-left: 24px;
  max-height: 18px;
}


@media screen and (max-width: 991px) {
  .social-media img {
    padding-left: 16px;
    max-height: 14px;
  }
}

@media screen and (max-width: 767px) {
  .social-media img {
    padding-left: 8px;
    max-height: 12px;
  }
}

@media screen and (max-width: 479px) {
  .social-media img {
    padding-left: 4px;
    max-height: 10px;
  }
}
